
<h1 mat-dialog-title> Novo contato </h1>
<div mat-dialog-content>
  <form [formGroup]="contactForm">

      <mat-form-field class="input-form">
        <mat-label>Nome:</mat-label>
        <input id="tst" name="nome" type="text" matInput placeholder="Nome" formControlName="nome"  required>
        <mat-error class="error-form" *ngIf="contactForm.get('nome')?.hasError('required')"> Este campo é de preenchimento obrigatório </mat-error>
      </mat-form-field>

      <mat-form-field class="input-form">
        <mat-label>Telefone:</mat-label>
        <input type="text" matInput placeholder="(63) 9 9225-8980" formControlName="telefone" mask="(00) 0 0000-0000" required>
        <mat-error class="error-form" *ngIf="contactForm.get('telefone')?.hasError('required')"> Este campo é de preenchimento obrigatório </mat-error>
      </mat-form-field>

      <mat-form-field class="input-form">
        <mat-label>E-mail:</mat-label>
        <input type="email" matInput placeholder="nome@email.com" formControlName="email" required >
        <mat-error class="error-form" *ngIf="contactForm.get('email')?.hasError('email')"> O e-mail informado é inválido, verifique se você digitou corretamente </mat-error>
        <mat-error class="error-form" *ngIf="contactForm.get('email')?.hasError('required')"> Este campo é de preenchimento obrigatório </mat-error>
      </mat-form-field>

      <mat-form-field class="input-form">
        <mat-label>Data de Nascimento:</mat-label>
        <input type="date" matInput placeholder="14/04/1999" formControlName="data_nascimento" required>
        <mat-error class="error-form" *ngIf="contactForm.get('data_nascimento')?.hasError('required')"> Este campo é de preenchimento obrigatório </mat-error>
      </mat-form-field>

      <mat-label> Imagem:</mat-label> <br>
      <input type="file" name="imagem" (change)="selectFile($event) " required>
      <mat-error class="error-form" *ngIf="contactForm.get('imagem')?.hasError('required')"> Este campo é de preenchimento obrigatório </mat-error>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button (click)="createContact()" [disabled]="!contactForm.valid">Salvar</button>
</div>

